<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/admin-dashboard">Admin Dashboard</a></li>
    <li><a routerLink="/student-dashboard">Student Dashboard</a></li>
    <li><a routerLink="/files">Files</a></li>
    <li><a routerLink="/upload">Upload</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
